<div class="table-header gap-2 flex left w-full">
  <button mat-fab color="primary" routerLink="add">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (input)="applyFilter($event.target)" placeholder="Search">
  </mat-form-field>
</div>

<div class="table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="completed">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Completed </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.completed}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let row"> <a mat-icon color="primary"
          (click)="updateRowData(row)"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5,2, 10, 25, 100]"></mat-paginator>
</div>