/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.flex {
  display: flex;
}

.gap-2{
  gap: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.p-2 {
  padding: 1%;
}

.w-qter {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  .mat-icon {
    margin-right: 5px;
  }
  input {
    margin: 2px;
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
