<mat-card>
    <div *ngIf="addActive" style="padding: 2%; display: flex;">
        <form [formGroup]="personManageForm">
            <mat-form-field style="width: 100%;">
                <input formControlName="firstName" matInput placeholder="First Name" />
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <input formControlName="lastName" matInput placeholder="Last Name" />
            </mat-form-field>

            <mat-slide-toggle style="width: 100%;padding: 2%;" class="toggle" color="warn" formControlName="isEnabled"
                labelPosition="before">
                <span class="margin-right-20">Enabled</span>
            </mat-slide-toggle>

            <mat-slide-toggle style="width: 100%;padding: 2%;" color="warn" formControlName="isValid"
                labelPosition="before">
                <span class="margin-right-20">Valid</span>
            </mat-slide-toggle>

            <mat-slide-toggle style="width: 100%; padding: 2%;" class="toggle" color="warn"
                formControlName="isAuthorized" labelPosition="before">
                <span class="margin-right-20">Authorized</span>
            </mat-slide-toggle>

        </form>
    </div>
    <div>
        <button style=" margin-left: 1%;padding-right: 1%;padding-left: 1%;" (click)="clear()"> Cancel</button>
        <button style="float: right; margin-right: 60%;padding-right: 1%;padding-left: 1%;" (click)="add()">Save</button>
    </div>


</mat-card>