<div class="table-header gap-2 flex  w-full">
    <button mat-fab color="primary" routerLink="/person">
        <mat-icon>home</mat-icon>
    </button>
</div>

<mat-card class="w-half">
    <div>
        <form [formGroup]="personManageForm">
            <mat-form-field style="width: 100%;">
                <input formControlName="firstName" matInput placeholder="First Name" />
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <input formControlName="lastName" matInput placeholder="Last Name" />
            </mat-form-field>

            <mat-slide-toggle class="gap-2 w-full flex p-2" color="warn" formControlName="isEnabled"
                labelPosition="before">
                <span>Enabled</span>
            </mat-slide-toggle>

            <mat-slide-toggle class="gap-2 w-full flex p-2" color="primary" formControlName="isValid"
                labelPosition="before">
                <span>Valid</span>
            </mat-slide-toggle>

            <mat-slide-toggle class="gap-2 w-full flex p-2" color="warn" formControlName="isAuthorized"
                labelPosition="before">
                <span>Authorized</span>
            </mat-slide-toggle>

        </form>
    </div>
    <div>
        <button mat-fab color="accent" (click)="clear()"> Cancel</button>

        <button mat-fab color="primary" *ngIf="person.id" class="right" (click)="update()">Update</button>
        <button mat-fab color="primary" *ngIf="!person.id" class="right" (click)="add()">Save</button>
    </div>
</mat-card>